<template>
<section>
  <a name="Home"></a>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://www.luckmon.com">
        <img src="http://drive.google.com/uc?export=view&id=1Ka1s00bTOkTJ64BcUoh37aCl5LoGW1Id">
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#About">
          ABOUT
        </a>
        <a class="navbar-item" href="#Games">
          GAMES
        </a>
        <a class="navbar-item" href="#Contact">
          CONTACT
        </a>
      </div>
    </div>
  </nav>
  <div>
    <v-img
      :aspect-ratio="16/9"
      src="http://drive.google.com/uc?export=view&id=1sARO4NELKasOmTmFnHiB_ekW6x0gokCA"
    ></v-img>
  </div>

  <section class="hero is-small is-dark">
    <a name="About"></a>
    <a href="#Home">
    <div class="hero-body">
      <p class="title">ABOUT</p>
    </div>
    </a>
  </section>
  <section>
    <div class="content">
      <!-- Vision -->
      <br/>
      <h2 align="center">OUR VISION</h2>
      <figure>
        <img src="http://drive.google.com/uc?export=view&id=1TVUZTjL5R0swA5aAKlIXa_IQmJmYyXfG" width="100" height="100"/>
      </figure>
      <p align="center"> Luckmon is building the future of digital in-game collectibles on Non-Fungible Tokens (NFTs). Our Vision is to develop exclusive Games to win digital in-game collectibles on NFT</p>

      <!-- TEAM-->
      <br/><br/>
      <h2 align="center">TEAM</h2>
<v-container>
    <v-row no-gutters>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
             <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1pe4sQImKbSSwOPDzJOed4Yl5em9NO3vy"/>
            </figure>
            <p align="center"><b>David Son</b><br/>Co-Founder/CEO</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=14Lza4RXjxm3HUUXyIoBMBnahjyD3tNiW"/>
            </figure>
            <p align="center"><b>MC Tang</b><br/>Co-Founder/CDO</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1LOsUmWfPcASe7YeYVZX0W7n-GXEai-Aq"/>
            </figure>
            <p align="center"><b>Jason Min</b><br/>Co-Founder/CTO</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1u654_XRZMZAzP-JHVx6cy8f7xvXbaFCm"/>
            </figure>
            <p align="center"><b>Jenny Yang</b><br/>Co-Founder/Head of Finance</p>
          </div>
        </v-col>        
    </v-row>
    <!--2nd line-->
    <v-row no-gutters>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
             <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1LOsUmWfPcASe7YeYVZX0W7n-GXEai-Aq"/>
            </figure>    
            <p align="center"><b>Jinho Yoo</b><br/>Head of Engineer</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1pe4sQImKbSSwOPDzJOed4Yl5em9NO3vy"/>
            </figure>    
            <p align="center"><b>Michael Yang</b><br/>Game Design Director</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1RwXgwUCiGbeADFPWk035Pc1sXP7Q-cSM"/>
            </figure>    
            <p align="center"><b>Lex Ham</b><br/>Art Director</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1gPddYfZQ2DZeWkdw_1zu_ScAPJmyewYG"/>
            </figure>
            <p align="center"><b>Marc Schultz</b><br/>Concept Artist</p>
          </div>
        </v-col>        
    </v-row>    
</v-container>
      <!-- Investors-->
      <br/><br/>
      <h2 align="center">INVESTORS</h2>
<v-container>
    <v-row no-gutters>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1oy7e8dAFInCP5bToj9lgotPGKFnkBXrt"/>
            </figure>
            <p align="center"><b>Chang Kim</b><br/>Angel Investor<br/>Tapasmedia CEO</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="http://drive.google.com/uc?export=view&id=1XGjuuaDuFOjwjqYdGRWME81UfBRmzAIG"/>
            </figure>
            <p align="center"><b>Thor Chan</b><br/>Angel Investor<br/>AAX CEO</p>
          </div>
        </v-col>
        <v-col>
          <div class="column is-narrow"  align="center">
            <figure class="image is-128x128">
              <img src="http://drive.google.com/uc?export=view&id=17yAkiqq4dyrCKyhKvw8quU7wdGw9Ld3O"/>
            </figure>
            <p align="center"><b>PRIMER SAZZE Partners</b><br/>Venture Capital Investor</p>
          </div>
        </v-col>
    </v-row>
</v-container>


    </div>
  </section>

<br/><br/>

  <!-- Games -->
  <section class="hero is-small is-dark">
    <a name="Games"></a>
    <a href="#Home">
    <div class="hero-body">
      <p class="title">GAMES</p>
    </div>
    </a>
  </section>

  <v-card :dark="true">
      <v-card-title class="pb-0">
        <h1>UNIDRAGON &trade; (Release by Q2 2022)</h1>
      </v-card-title>
      <v-carousel :show-arrows="false">
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
           reverse-transition="fade-transition"
          transition="fade-transition"
        ></v-carousel-item>
      </v-carousel>

      <v-card-title class="pb-0">
        <h1>FARM MATES (Coming Soon)</h1>
      </v-card-title>
      <v-skeleton-loader
        class="mx-auto"
        max-width="800"
        max-height="600"
        type="card"
      ></v-skeleton-loader>
  <br/><br/>      
  </v-card>

  <section class="hero is-small is-dark">
    <a name="Contact"></a>
    <a href="#Home">
    <div class="hero-body">
      <p class="title">Contact</p>
    </div>
    </a>
  </section>
  <v-card :dark="true">
    <br/>
    <v-toolbar-title align="center">
        <span class="font-weight-light">Welcome your E-Mail!!</span>
        <v-spacer/>
        <v-btn
          class="ma-2"
          outlined
          small
          fab
          color="indigo"
          href="https://mail.google.com/mail/u/0/?fs=1&to=info@luckmon.com&fs=1&tf=cm" target="_blank"
        ><v-icon>mdi-pencil</v-icon>
        </v-btn>
    </v-toolbar-title>
    <br/>
  </v-card>
<template>

<v-footer padless>
    <v-card flat tile class="lighten-1 white--text text-center" width="100%">
      <v-card-text align="center">
        <h1 class="pb-2 white--text"> You can find us at</h1>
        <v-btn
          v-for="item in snsIcons"
          :key="item.icon"
          class="mx-4 white--text"
          icon
          @click="OpenLink(item.addr)"
        >
          <v-icon size="24px">
            {{ item.icon }}
          </v-icon>
        </v-btn>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text class="white--text" align="center">
        Luckmon is a registered trademark of Luckmon,Inc. All Rights Reserved. Luckmon.
      </v-card-text>
    </v-card>
  </v-footer>
</template>  
</section>

</template>

<script>
  export default {
    name: 'Luckmon',
    metaInfo: {
      title: 'Luckmon'
    },
    data() {
        return {
        items: [
          {src: 'http://drive.google.com/uc?export=view&id=1QQG6GZ_5zLeFuMyapw7bljUG5NSSQpZG'},
          {src: 'http://drive.google.com/uc?export=view&id=126cT9q5BbufJGEwSr6cSeBvkaeakFPqY'},
          {src: 'http://drive.google.com/uc?export=view&id=1TOQNUUaFDrzJfQwSFc4JecQM6_JQBzZP'},
        ],
        snsIcons: [
          { icon: 'mdi-facebook', addr: 'https://www.facebook.com/Luckmon-106293595198290'},
          { icon: 'mdi-twitter', addr: 'https://twitter.com/luckmonnft'},
          { icon: 'mdi-instagram', addr: 'https://www.instagram.com/luckmonnft/'},
          { icon: 'mdi-discord', addr: 'https://discord.com/channels/912102131555782678/912102132025532427'},
        ],
      }
    },

    methods:{
        OpenLink(msg){
          window.open(msg, '_blank').focus();
        }  
    }
  }
</script>

<style>
  @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
</style>